.movie-card {
    min-width: 200px;
    max-width: 200px;
    max-height: 400px;
    margin: 3px;
}

a {
    text-decoration: none;
}

.card-rating {
    position: absolute;
    right: 7px;
    top: 7px;
}

.card-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card {
    transition: .3s;
}

    .card:hover {
        box-shadow: 0 5px 5px -3px #777, 0 8px 10px 1px #777, 0 3px 14px 2px #777;
    }
