@inherits LayoutComponentBase
@using BlazorWasmGraphQL.Client.Pages

<SfToast @ref="AddToWatchlistBase.ToastObj">
        <ToastPosition X="Center" Y="Bottom"></ToastPosition>
</SfToast>

<div class="page">
    <div class="main">
        <NavMenu />
        <div class="container">
            @Body
        </div>
    </div>
</div>
